.general {
    width: 600px;
    height: 1300px;
    margin: 60px;
    margin-top: 60px;
margin-right: 60px;
margin-bottom: 60px;
margin-left: 60px;
}
/* cambio de idioma*/
.body {
    background-color: black;
    display: flex;
    justify-content: center;
}
.header {
    background-color: white;
    width: 100%;
    display: flex;
    align-items: center;
  }
  .header1 {
    float: left;
    margin: 10px;
    margin-top: 10px;
margin-right: 10px;
margin-bottom: 10px;
margin-left: 10px;
  }
  .fa-brands, .fab {
    font-weight: 400;
  }
  .header2 {
    float: left;
    margin: 10px;
    margin-top: 10px;
margin-right: 10px;
margin-bottom: 10px;
margin-left: 10px;
  }
  .header3 {
    float: right;
    flex: 1 1 0%;
    text-align: right;
    margin-right: 8px;
  }
  .image {
    width: 100%;
  }
  .image img {
    width: 100%;
  }
  .footer {
    background-color: white;
    width: 100%;
  }
  .icons {
    display: flex;
    flex-direction: row;
  }
  .save {
    width: 100%;
    display: flex;
  }
    .save i {
  flex: 1 1 0%;
  text-align: right;
  margin-right: 8px;
}
.save i {
    flex: 1 1 0%;
    text-align: right;
    margin-right: 8px;
  }
  .fa-regular, .far {
    font-weight: 400;
  }
  .fa-regular, .far {
    font-weight: 400;
  }
  .fa-regular, .far {
    font-weight: 400;
  }
  i {
    font-size: 30px;
  }
  .save i {
    flex: 1 1 0%;
    text-align: right;
    margin-right: 8px;
  }
  .heart{
    margin-left: 8px;
    margin-right: 8px;
  }
  .comment{
    margin-right: 8px;
  }
  .text{
    margin-bottom: 16px;
    height: 70px;
    padding: 0 8px;
  }
  .likes{
    padding: 0 8px;
  }